$primary-border-color: rgb(130, 121, 133);
$primary-background-color: rgb(229, 191, 226);
$regular-blue-bg: rgb(59, 147, 242);
$regular-btn: rgb(26, 155, 210);
$original-display-color: rgba(130, 217, 169, 0.893);
.primary-container {
  border-color: $primary-border-color;
  height: 400px !important;
  max-width: 500px !important;
  min-width: 250px !important;
  background-color: $primary-background-color;
  border-radius: 5px;
}
.primary-heading {
  text-transform: capitalize;
  background-color: $regular-blue-bg;
  border-radius: 0px 0px 5px 5px;
}
.secondary-container {
  border: 1px solid $primary-border-color;
  max-width: 400px !important;
  min-width: 200px;
  height: 300px;
  box-shadow: 0 0 3px black;
  border-radius: 3px;
}
input[type="number"] {
  background-color: $primary-background-color !important;
  text-align: center;
  min-width: 200px !important;
}
input[type="number"]:focus {
  outline: none;
}
.display {
  min-width: 160px !important;
  height: 60px;
  background-color: $original-display-color;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 0 0 1px black;
}
.display-result {
  color: $primary-border-color;
}
.gen-btn {
  background-color: $regular-btn;
  padding: 5px;
  border-style: none;
  border: 1px solid;
}
